body {
    background-color: bbdef0;
}

.calculator-container {
    background-color: 00a6a6;
    max-width: 250px;
    max-height: 400px;
    border-radius: 10px;
    margin: auto
}

.calculator-container h1 {
    text-align: center;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display-container {
    background-color: efca08;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 15px, rgba(0, 0, 0, 0.1); /* TODO fix shadow */
}

.display-container #output {
    background-color: f49f0a;
    border-radius: 10px;
    min-height: 1em;
}

#zero {
    grid-column: 2;
    grid-row: 4;
}

.numbers {
    background-color: f08700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.numbers button {
    width: 50;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin: auto;
}

.operators {
    background-color: purple;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}